<div class="mainframe">
    <div class="subframe">
        <div class="title-bar"></div>
        <div class="contents">
            <div class="marambe">
                <img src="assets/tite.png" alt="tite" width="500" height="500">
            </div>
            <div class="test-button">
                <button (click)="testForConnectivity()">Test</button>
            </div>
            <div class="capture-button">
                <button (click)="onNavigate()">Go to Capture</button>
            </div>
        </div>
    </div>
</div>